<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Entitlements.plist
   ChoiceHealthCare

   Created by LMI Developer on 11/29/16.
   Copyright (c) 2016 Sumeet. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>aps-environment</key>
        <string>production</string> <!-- Either development or production -->
    </dict>
</plist>
