<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProviderKey</key>
		<integer>1</integer>
		<key>ProvidersLatitude</key>
		<string>33.2959</string>
		<key>ProvidersLongitude</key>
		<string>-83.9605)</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>2</integer>
		<key>ProvidersLatitude</key>
		<string>33.7367</string>
		<key>ProvidersLongitude</key>
		<string>-84.4162)</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>3</integer>
		<key>ProvidersLatitude</key>
		<string>33.7127</string>
		<key>ProvidersLongitude</key>
		<string>-84.3099</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>4</integer>
		<key>ProvidersLatitude</key>
		<string>33.9712</string>
		<key>ProvidersLongitude</key>
		<string>-84.5524)</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>5</integer>
		<key>ProvidersLatitude</key>
		<string>33.749</string>
		<key>ProvidersLongitude</key>
		<string>-84.388</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>6</integer>
		<key>ProvidersLatitude</key>
		<string>33.727</string>
		<key>ProvidersLongitude</key>
		<string>-84.3919</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>7</integer>
		<key>ProvidersLatitude</key>
		<string>33.8988</string>
		<key>ProvidersLongitude</key>
		<string>-84.2015</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>8</integer>
		<key>ProvidersLatitude</key>
		<string>33.7632</string>
		<key>ProvidersLongitude</key>
		<string>-84.5091</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>9</integer>
		<key>ProvidersLatitude</key>
		<string>33.9165</string>
		<key>ProvidersLongitude</key>
		<string>-84.3849</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>10</integer>
		<key>ProvidersLatitude</key>
		<string>33.4319</string>
		<key>ProvidersLongitude</key>
		<string>-84.3198</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>11</integer>
		<key>ProvidersLatitude</key>
		<string>33.5746</string>
		<key>ProvidersLongitude</key>
		<string>-84.3995</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>12</integer>
		<key>ProvidersLatitude</key>
		<string>33.6812</string>
		<key>ProvidersLongitude</key>
		<string>-84.4249</string>
	</dict>
	<dict>
		<key>ProviderKey</key>
		<integer>13</integer>
		<key>ProvidersLatitude</key>
		<string>33.6431</string>
		<key>ProvidersLongitude</key>
		<string>-84.3618</string>
	</dict>
</array>
</plist>
